Specify how to store IRIs in URI-valued properties

Add the following to §3.4.2.1 (`uri` property):

> If the resource specified by a URI-valued property is actually identified by an Internationalized Resource Identifier (IRI) [RFC3987], then the SARIF producer SHALL first transform the IRI into a URI, using the mapping mechanism specified in RFC 3987 §3.1, and then assign the transformed value to the SARIF property.

Actually, this doesn't belong in §3.4.2.1. There are other URI-valued properties. We should
- introduce a section on URI-valued properties
- move the bulk of §3.4.2.1 into the new section,
- add the above passage to the new section, and
- adjust cross-references to point to the new section.

Relabled as a bug; it was arguably a bug in the specification not to clarify how it handled IRIs.